@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Questrial&display=swap');
body {
  margin: 0;
  font-family: 'Raleway', 'sans-serif';
}

p {
  font-size: 18px;
}
h1, h2, h3, a {
  font-family: 'Raleway', 'sans-serif';
}

